body{
  background-color: #EFF0F3;
}
.appArea{
  background-color: white;
  height:80vh;
  width:40vw;
  margin: 2rem auto;
}
.chatArea{
  /* background-color: blue; */
  /* height:85%; */
}
.inputArea{
  /* background-color: red; */
  /* height:20%; */
}
.btn{
  width:100%;
}
.green-bubble{
  width:75%;
  margin-right: 0;
  background-color: #019267;
  color: aliceblue;
  border-radius: 10px;
}
.blue-bubble{
  width:75%;
  background-color: blue;
  color:aliceblue;
  border-radius: 10px;
}